@media screen and (min-width: 200px) and (max-width: 841px){

	.Container {
		display: flex;
		flex-direction: column;
		align-content: center;
		margin-bottom: 5vh;
		color: #E7DECC;
	}

	.VolverContainer {
		width: 45vw;
		margin-left: 3.3vw;
		margin-bottom: 2vh;
		font-size: 3.5vmin;
	}

	.VolverLink {
		text-decoration: none;
		color: black;
	}

	.Volver {
		padding: 0.8em 1.8em;
		border: 2px solid slateblue;
		border-radius: 0em 100em;
		position: relative;
		overflow: hidden;
		background-color: transparent;
		text-align: center;
		text-transform: uppercase;
		font-size: 16px;
		transition: .3s;
		z-index: 1;
		font-family: inherit;
		color: slateblue;
	}

	.Volver::before {
		content: '';
		width: 0;
		height: 300%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		background: slateblue;
		transition: .5s ease;
		display: block;
		z-index: -1;
	}

	.Volver:hover::before {
		width: 105%;
	}

	.Volver:hover {
		color: #111;
	}

	.DetailsContainer {
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		justify-content: center;
	}

	.DetailsIMNAContainer {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		justify-content: center;	
	}

	.DetailsImg {
		min-width: 300px;
		border-radius: 2em;
	}

	.nameContainer {
		font-family: 'Quicksand', sans-serif;
		border-radius: 2em;
		background-color: rgba(0, 0, 29, 0.4);
		width: 100vw;
		margin: 2vh 0px;
	}

	.DetailTextContainer {
		font-family: 'Quicksand', sans-serif;
		flex-grow: 1;
		border-radius: 2em;
		background-color: rgba(0, 0, 29, 0.4);
		width: 100vw;
	}

}

@media screen and (min-width: 842px){

	.Container {
		display: flex;
		flex-direction: column;
		align-content: center;
		margin-bottom: 5vh;
		color: #E7DECC;
	}

	.VolverContainer {
		display: flex;
		justify-content: flex-start;
	}

	.VolverLink {
		text-decoration: none;
		color: black;
	}

	.Volver {
		margin: 10px 0px 0px 10px;
		padding: 0.8em 1.8em;
		border: 2px solid slateblue;
		border-radius: 0em 100em;
		position: relative;
		overflow: hidden;
		background-color: transparent;
		text-align: center;
		text-transform: uppercase;
		font-size: 16px;
		transition: .3s;
		z-index: 1;
		font-family: inherit;
		color: slateblue;
	}

	.Volver::before {
		content: '';
		width: 0;
		height: 300%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		background: slateblue;
		transition: .5s ease;
		display: block;
		z-index: -1;
	}

	.Volver:hover::before {
		width: 105%;
	}

	.Volver:hover {
		color: #111;
	}

	.DetailsContainer {
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		justify-content: center;
	}

	.DetailsImgContainer {
		flex-grow: 1;
	}

	.DetailsImg {
		min-width: 300px;
		border-radius: 2em;
	}

	.nameContainer {
		font-family: 'Quicksand', sans-serif;
		border-radius: 2em;
		background-color: rgba(0, 0, 29, 0.4);
		width: 40vw;
	}

	.DetailTextContainer {
		font-family: 'Quicksand', sans-serif;
		flex-grow: 1;
		border-radius: 2em;
		background-color: rgba(0, 0, 29, 0.4);
		width: 40vw;
	}
}